.bio {
    p {
        color: #4b6a9b;
        font-weight: 600;
        font-family: "SpaceMono";
        font-size: 15px;
        line-height: 24px;
        padding-bottom: 20px;
        transition: 0.2s ease-in-out;
    }
}
