.lds-ring {
    align-items: center;
    display: flex;
    justify-content: center;
    width: 80px;
    height: 80px;
    top: 10px;
    right: -11%;
}
.lds-ring div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 34px;
    height: 34px;
    margin: 8px;
    border: 3px solid #4b6a9b;
    border-radius: 50%;
    animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: #4b6a9b transparent transparent transparent;
}
.gitHubUserSearcher_DARK .lds-ring div {
    border: 3px solid #fff;
    border-color: #fff transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
    animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
    animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
    animation-delay: -0.15s;
}
@keyframes lds-ring {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
