.fullName {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 12px;

    span {
        font-weight: 600;
        font-family: "SpaceMono";
        font-size: 15px;
        line-height: 22px;
        text-align: right;
        color: #697c9a;
    }

    h2 {
        font-weight: 900;
        font-family: "SpaceMono";
        font-size: 26px;
        line-height: 39px;
        transition: 0.2s ease-in-out;
    }
}
