.userName {
    margin-bottom: 20px;
    span,
    p {
        color: #0079ff;
        font-weight: 400;
        font-family: "SpaceMono";
        font-size: 15px;
        line-height: 24px;
        padding-bottom: 20px;
    }

    p {
        color: #4b6a9b;
        font-weight: 600;
    }
}
