* {
    margin: 0px;
    padding: 0px;
}

@font-face {
    font-family: "SpaceMono";
    src: url("./assets/font/SpaceMono-Regular.ttf");
}

@font-face {
    font-family: "SpaceMono-Bold";
    src: url("./assets/font/SpaceMono-Bold.ttf");
}

body {
    height: 100%;
    transition: 0.2s ease-in-out;
}

.darkMode-on {
    background-color: #141d2f;
}

.darkMode-off {
    background-color: #f6f8ff;
}

.App {
    display: flex;
    flex-direction: column;
    height: 100%;
    margin: 0 auto;
    padding: 56px;
    width: 65%;
}

@media screen and (max-width: 1324px) {
    .App {
        padding: 56px 0px;
        width: 90%;
    }
}
